@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  @keyframes float-1 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  @keyframes float-2 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  @keyframes float-3 {
    0%,
    100% {
      transform: translateY(-6px);
    }
    50% {
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .animate-float-1 {
    animation: float-1 6s ease-in-out infinite;
  }
  .animate-float-2 {
    animation: float-2 7s ease-in-out infinite;
  }
  .animate-float-3 {
    animation: float-3 6s ease-in infinite;
  }
  .animate-float-4 {
    animation: float-2 6s ease-out infinite;
  }
}

@layer components {
  .logos::before,
  .logos::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
  }

  .logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
  }
}

.hover-nav {
  position: relative;
  padding: 1rem 0;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}

.hover-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition:
    width 0.3s ease,
    transform 0.3s ease;
  transform-origin: left;
}

.hover-nav:hover::after {
  width: 100%;
}

.hover-nav:hover::after,
.hover-nav::after {
  transform: scaleX(1);
}
.image-hover {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1) rotate(-5deg); 
  }
}