@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  @keyframes float-1 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  @keyframes float-2 {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
  }

  @keyframes float-3 {
    0%,
    100% {
      transform: translateY(-6px);
    }
    50% {
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .animate-float-1 {
    animation: float-1 6s ease-in-out infinite;
  }
  .animate-float-2 {
    animation: float-2 7s ease-in-out infinite;
  }
  .animate-float-3 {
    animation: float-3 6s ease-in infinite;
  }
  .animate-float-4 {
    animation: float-2 6s ease-out infinite;
  }
}

@layer components {
  .logos::before,
  .logos::after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
  }

  .logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
  }

  .logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
  }
}
